.content
{
    
}
.content-row
{
    width: 100%;
    display:flex;
    justify-content: space-around;    
}
.content-row.last
{
    font-size: .75rem;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.content-row.last .button
{
    font-size: 1rem;
    width: 80px;
    height: 35px;
}
.content-row .title
{
    color: #0cc; 
    text-align: center;
}
table, td, th {    
    text-align: left;
    font-size: 12px;
}

table {
    flex-shrink: 0;
    width: 300px;
    margin: 5px;
    background: #eee;
}

th, td {
    padding: 2px;
}

